// Color Variables

$primary_color: #746694;
$primary-hover-color: #4eb44e;
$success-color: #008000;
$success-hover-color: #bd6c6c;
$title-color: #3a3131;
$bg_color: #f5deb3;

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bg_color;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    color: $primary-hover-color;
  }

  h4 {
    color: #666;
  }

  table {
    width: 100%;
    margin-top: 20px;
  }
}
